<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="libs/vis-4.21.0/dist/vis.js"></script>



    <link href="libs/vis-4.21.0/dist/vis.css" rel="stylesheet" type="text/css" />
    <link href="libs/bootstrap-4.2.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script defer src="libs/fontawesome-free-5.6.3-web/js/all.js"></script> <!--load all styles -->

    <style type="text/css">



        body {
            padding-top: 3.5rem;
        }

        .vis-dropdown-configure-graph {
            min-width: 30rem;
        }
        .vis-navbar-right {
            float: right!important;
        }

        #sidecontent {
            display: none;
            position: absolute;
            top: 4rem;
            right: 0px;
            max-width: 30rem;
            z-index: 9000;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="res/logo.png" height="20" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
           <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentations</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" id="documentations" data-boundary="viewport">

                </div>
            </li>
        </ul>
    </div>


    <div class="form-inline">
        <div class="input-group mr-2">
            <div class="input-group-prepend">
                <label for="select-project" class="input-group-text bg-transparent text-white-50">Project View:</label>

            </div>
            <select id="select-project" class="custom-select">
            </select>
        </div>
        <div class="input-group mr-2">
            <div class="input-group-prepend">
                <label for="select-graphpreset" class="input-group-text bg-transparent text-white-50">Graph Preset:</label>

            </div>
            <select id="select-graphpreset" class="custom-select">
                <option value="hieradefault" >Hierachical</option>
                <option value="netdefault" selected>Network</option>
                <option value="3">(Individual)</option>
            </select>
        </div>
    </div>
    <ul class="navbar-nav vis-navbar-right">
        <li class="dropdown">
            <a class="btn  dropdown-toggle text-white-50" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right vis-dropdown-configure-graph" aria-labelledby="dropdownMenuButton">
                <h6 class="dropdown-header">Configure Graph</h6>
                <form class="px-4 pt-2" id="networkConfigureForm">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="networkNodeStyle">Node style</label>
                                <select class="form-control" id="networkNodeStyle">
                                    <option value="small">small</option>
                                    <option value="detailed">detailed</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="networkLayout">Network Layout</label>
                                <select class="form-control" id="networkLayout">
                                    <option value="hierarchical" >Hierarchical</option>
                                    <option value="network">Network</option>
                                </select>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="networkPhysics" value="1">
                                <label class="form-check-label" for="networkPhysics">Enable Physics</label>
                            </div>

                            <div class="form-group">
                                <label for="networkHierarchicalSortMethod">Sort method</label>
                                <select class="form-control" id="networkHierarchicalSortMethod">
                                    <option value="hubsize">hubsize</option>
                                    <option value="directed" selected>directed</option>
                                </select>
                            </div>

                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="networkClusterGroups">Cluster Group</label>
                                <select class="form-control" multiple id="networkClusterGroups">

                                </select>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="dropdown-divider"></div>
                <button type="button" class="mx-4 btn btn-primary"  data-dismiss="modal" id="updateGraphConfiguration">Update</button>
            </div>
        </li>
        <!-- <li class="dropdown">
            <a class="btn  dropdown-toggle mr-2 text-white-50" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-exclamation-circle"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right vis-dropdown-warnings" aria-labelledby="dropdownMenuButton">

            </div>
        </li>-->
    </ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="graphConfiguration" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Configure Graph</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="selectGraphDetail" id="selectGraphDetail_hiera">

                <div class="modal-body">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" id="updateGraphConfiguration">Update</button>
            </div>
        </div>
    </div>
</div>

<main role="main" class="container-flex maincontent">

    <div id="maincontent" >
        <div class="d-flex justify-content-center m-5">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </div>
    <div class="card w-50  bg-light" id="sidecontent">
        <div class="card-header">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h6 class="card-title" id="sidecontent-title">Application Details</h6>

            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="common-tab" data-toggle="tab" href="#common" role="tab" aria-controls="home" aria-selected="true">Common Infos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="profile" aria-selected="false">Provided Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dependencies-tab" data-toggle="tab" href="#dependencies" role="tab" aria-controls="contact" aria-selected="false">Dependencies</a>
                </li>
            </ul>

        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="common" role="tabpanel" aria-labelledby="common-tab">
                    <h6 class="card-title">Application Details</h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">ServiceName</h5>
                                <div class="badge badge-primary text-wrap" style="width: 6rem;">
                                    This text should wrap.
                                </div>
                                <small>30</small>
                            </div>
                            <small class="">Donec id elit non mi porta.</small>
                            <table class="mt-1 table table-sm small">
                                <tbody>
                                <tr>
                                    <td>lklkj</td>
                                    <td>ljlkj</td>
                                </tr>
                                </tbody>
                            </table>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </li>
                        <li href="#" class="list-group-item ">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </li>
                    </ul>

                </div>
                <div class="tab-pane fade" id="dependencies" role="tabpanel" aria-labelledby="dependencies-tab">...</div>
            </div>

        </div>
    </div>

</main><!-- /.container -->
<script>
    DATAURL = 'data'
</script>

<!-- // General libs //-->
<script type="text/javascript" src="libs/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="libs/popper/popper.min.js"></script>
<script type="text/javascript" src="libs/bootstrap-4.2.1-dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="libs/chroma/chroma.min.js"></script>

<!-- // Vistecture code libs //-->
<script type="text/javascript" src="js/vistectureHelper.js"></script>
<script type="text/javascript" src="js/visNetworkHelper.js"></script>
<script type="text/javascript" src="js/layoutFunctions.js"></script>
<script type="text/javascript" src="js/visRenderer.js"></script>
<script type="text/javascript" src="js/applicationInit.js"></script>

</body>
</html>

